<li class="nav-item ml-4">
    <a class="nav-link color-header" href="login.html">logowanie</a>
</li>
<li class="nav-item ml-4">
    <a class="nav-link color-header" href="registration.html">rejestracja</a>
</li>